* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --font-size: 25px;
    --gap: 20px;
    --main-bg-color: #f0f0f0;
    --main-border: black 2px solid;
    --padding: 20px;
    --border-radius: 20px;
    --box-shadow: 10px 10px 15px rgb(41, 40, 40);
}

.noscript {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: absolute;
    background-color: rgb(131, 10, 10);
    width: 450px;
    height: 200px;
    padding: 30px;
    box-shadow: 5px 5px 35px rgba(255, 252, 252, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
}

.noscript div {
    color: #f8dcdc;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.all, body {
    font-family: Arial, sans-serif;
    min-height: 100vh;;
    width: 100vw;
    background: #c8e0b4;
    background: linear-gradient(90deg,rgba(200, 224, 180, 1) 0%, rgba(184, 224, 177, 1) 50%, rgba(144, 209, 150, 1) 100%);
    gap: 100px;
}

.container {
    display: grid;
    gap: var(--gap);
    padding: var(--padding);
    border: var(--main-border);
    font-size: var(--font-size);
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.all, .select, body {
    justify-content: center;
    align-items: center;
    display: flex;
}

.select {
    gap: var(--gap);
}

#fromCurrency, #toCurrency {
    width: 100px;
    height: 50px;
    font-size: var(--font-size);
}

#input1, #input2 {
    width: 200px;
    height: 50px;
    font-size: var(--font-size);
}

.swap {
    -webkit-user-select: none;
    user-select: none;
    padding: var(--padding);
    font-size: var(--font-size);
    border: var(--main-border);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

#convert {
    height: 50px;
    font-size: var(--font-size);
}

.text {
    -webkit-user-select: none;
    user-select: none;
}

.loader {
    width: 100px;
    height: 100px;
    background: linear-gradient(
      165deg,
      rgba(255, 255, 255, 1) 0%,
      rgb(220, 220, 220) 40%,
      rgb(170, 170, 170) 98%,
      rgb(10, 10, 10) 100%
    );
    border-radius: 50%;
    position: relative;
    left: 40px;
}

body {
    background: black;
}

.loader:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid #ffffff05;
    box-shadow: 0 -10px 20px 20px #ffffff40 inset,
      0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
      0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
      0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
}

@keyframes rotate {
    100% { transform: rotate(360deg) }
}

.fade-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.aside {
    display: grid;
}

.allCurrencies {
    display: none;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
    padding: var(--padding);
    border: var(--main-border);
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.allCurrencies li {
    list-style: none;
}

.open {
    margin-top: 30px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.open:after {
    transform: rotate(-45deg);
}

@media (max-width: 767px) {
    .all {
        gap: 30px;
        display: grid;
        padding: 15px 0 15px 0;
    }
    :root {
        --font-size: 18px;
        --gap: 10px;
        --main-border: black 1px solid;
        --padding: 10px;
    }

    .allCurrencies {
        position: relative;
        grid-template-columns: repeat(1, 1fr);
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .all {
        display: grid;
    }

    .allCurrencies {
        position: relative;
        grid-template-columns: repeat(1, 1fr);
    }
}
/* @media (min-width: 1024px) {} */