* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --font-size: 25px;
    --gap: 20px;
    --main-bg-color: #f0f0f0;
    --main-border: black 2px solid;
    --padding: 20px;
    --border-radius: 20px;
    --box-shadow: 10px 10px 15px rgb(41, 40, 40);
}

.noscript {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    position: absolute;
    background-color: rgb(131, 10, 10);
    width: 450px;
    height: 200px;
    padding: 30px;
    box-shadow: 5px 5px 35px rgba(255, 252, 252, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
}

.noscript div {
    color: #f8dcdc;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: #c8e0b4;
    background: linear-gradient(90deg,rgba(200, 224, 180, 1) 0%, rgba(184, 224, 177, 1) 50%, rgba(144, 209, 150, 1) 100%);
    gap: 100px;
}

.converter {
    font-size: 40px;
    padding: var(--padding);
    background-color: var(--main-bg-color);
    border: var(--main-border);
    position: absolute;
    padding: var(--padding);
    border-radius: var(--border-radius);
    top: 1vh;
    user-select: none;
    box-shadow: var(--box-shadow);
}

.container {
    display: grid;
    gap: var(--gap);
}

body, .select {
    justify-content: center;
    align-items: center;
    display: flex;
}

.select {
    gap: var(--gap);
}

#fromCurrency, #toCurrency {
    width: 100px;
    height: 50px;
    font-size: var(--font-size);
}

#input1, #input2 {
    width: 200px;
    height: 50px;
    font-size: var(--font-size);
}

.big_button, .container {
    padding: var(--padding);
    border: var(--main-border);
    font-size: var(--font-size);
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}

.big_button {
    user-select: none;
}

.big_button:hover {
    background-color: #e2dddd;
}

.big_button:active {
    box-shadow: 5px 5px 15px rgb(41, 40, 40);
}